@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
	var rootContent = Umbraco.ContentAtRoot();
	var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();

	var content = siteSettings?.Text;
}



<div class="">
	
	<footer class="bg-dark text-gray-500 py-8  fixed bottom-0 w-full flex-shrink-0">
		<div class="max-w-7xl mx-auto px-2 flex flex-col md:flex-row justify-between gap-10">
			<p class="text-sm">@content</p>
		</div>
	</footer>

</div>