<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d4b6bb7-e7a2-4a26-a4a1-036d6d424c75" Alias="image-104 1.png" Level="2">
  <Info>
    <Parent Key="872e39a5-a10f-4a42-8ab1-b3c2e5c402b7">Team Members</Parent>
    <Path>/TeamMembers/image1041png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T19:43:34</CreateDate>
    <NodeName Default="image-104 1.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hcqb144l/image-104-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>