<?xml version="1.0" encoding="utf-8"?>
<Media Key="216af3c7-2603-48a6-8c0e-a637175b0320" Alias="image-24-min 1.png" Level="2">
  <Info>
    <Parent Key="20b8381f-767d-44f2-85a9-3f8b8333f080">Services</Parent>
    <Path>/Services/image24Min1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-15T14:20:56</CreateDate>
    <NodeName Default="image-24-min 1.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ja2dzf1k/image-24-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>