<?xml version="1.0" encoding="utf-8"?>
<Media Key="231cf268-08f9-476a-9bf4-c3d2aa1f364b" Alias="Img-5-e1695109900349 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img5E16951099003491png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-15T21:02:30</CreateDate>
    <NodeName Default="Img-5-e1695109900349 1.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/222fvfmq/img-5-e1695109900349-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>