<?xml version="1.0" encoding="utf-8"?>
<Media Key="35ab9d30-e650-4dc7-aee4-b31e9083979d" Alias="Img-1 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img11png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-16T15:41:38</CreateDate>
    <NodeName Default="Img-1 1.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/x3lp1azz/img-1-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>