<?xml version="1.0" encoding="utf-8"?>
<Media Key="acd343a5-5acc-46cc-bc63-2da4d27fe467" Alias="img_choose_01_home01 1.png" Level="2">
  <Info>
    <Parent Key="872e39a5-a10f-4a42-8ab1-b3c2e5c402b7">Team Members</Parent>
    <Path>/TeamMembers/img_choose_01_home011png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T19:43:46</CreateDate>
    <NodeName Default="img_choose_01_home01 1.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fkejkgvf/img_choose_01_home01-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>