<?xml version="1.0" encoding="utf-8"?>
<Media Key="af30c6a2-057a-45e2-ba8e-ccb52b207925" Alias="Mask-Group-8 1.png" Level="2">
  <Info>
    <Parent Key="872e39a5-a10f-4a42-8ab1-b3c2e5c402b7">Team Members</Parent>
    <Path>/TeamMembers/MaskGroup81png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-14T19:47:12</CreateDate>
    <NodeName Default="Mask-Group-8 1.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fughmgit/mask-group-8-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>