<?xml version="1.0" encoding="utf-8"?>
<Media Key="36684e93-90c2-40cf-8859-088c7863d8d5" Alias="post2 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-15T15:43:04</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mhznvvgz/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>