<?xml version="1.0" encoding="utf-8"?>
<Content Key="43e81f21-ae79-443a-b9cb-fe7686bed944" Alias="Contact" Level="2">
  <Info>
    <Parent Key="f2344e35-579f-4b0f-8bff-1fae417becb9">Onatrix</Parent>
    <Path>/Onatrix/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-14T12:28:32</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8e3cf492-883a-4b49-b11b-bef69c0ecd6e">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b61867df-7bbd-47f2-84bc-00d2ac2e7a84",
      "key": "b9544e6e-774a-4d14-a330-6d1e105a677c",
      "udi": null,
      "values": [
        {
          "alias": "contactBackgroundPicture",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "eee79c4e-e1f0-4ca4-bb56-0c42faee3fd7",
              "mediaKey": "d37159f2-1bb0-4e8d-9099-36090a6efac2",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactPicture",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6c1aacb4-9cbe-479b-aa2a-0177379bb4ee",
              "mediaKey": "231cf268-08f9-476a-9bf4-c3d2aa1f364b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactAddress",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Klarabergsviadukten 90, 111 52 Stockholm"
        },
        {
          "alias": "contactPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "\u002B46 8 123 456 75"
        },
        {
          "alias": "contactEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "sales@onatrix.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b9544e6e-774a-4d14-a330-6d1e105a677c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b9544e6e-774a-4d14-a330-6d1e105a677c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>