<?xml version="1.0" encoding="utf-8"?>
<Content Key="8227bfd7-612b-4d24-9f33-36138470a736" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="7c8233b9-ccf7-4c9d-8611-7150c7eb8e1e">Services</Parent>
    <Path>/Onatrix/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-15T14:22:56</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8d945fdc-4326-401e-aa51-5c20bcd43465">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </pageTitle>
    <serviceDetailAside>
      <Value><![CDATA[]]></Value>
    </serviceDetailAside>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "2ed6ffe8-bcd8-4d9d-8e32-356622095f0e",
    "mediaKey": "b4972b32-adb1-4a93-a423-2b74e6694115",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>