<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c8233b9-ccf7-4c9d-8611-7150c7eb8e1e" Alias="Services" Level="2">
  <Info>
    <Parent Key="f2344e35-579f-4b0f-8bff-1fae417becb9">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-11-14T13:27:38</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6f64a958-fe8c-4f11-aa33-f417e566b8e0">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1846c976-b2ef-40f5-8900-d7c59740cc3e",
      "key": "63082207-2469-4d05-aa4a-36bb66901198",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe bring\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Esuccess to you\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "53e200ca-3307-493f-8acc-cb69be1afe97",
      "key": "d8c8fcfd-256b-4075-9667-9256bf66b1e1",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "63082207-2469-4d05-aa4a-36bb66901198",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "63082207-2469-4d05-aa4a-36bb66901198",
        "contentUdi": null,
        "settingsKey": "d8c8fcfd-256b-4075-9667-9256bf66b1e1",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
    <serviceOther>
      <Value><![CDATA[]]></Value>
    </serviceOther>
  </Properties>
</Content>