<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0169649-2cc4-4421-827e-36b08cbdfbca" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-11-14T20:37:50</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAdress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAdress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8fea9b62-d2ca-47e9-946b-1def40e420ae",
      "key": "11fab5a1-5324-4d6a-8449-9352bc14dd92",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "8fea9b62-d2ca-47e9-946b-1def40e420ae",
      "key": "5b99d11f-e296-495d-9112-f83f49e3637e",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://linkedin.com"
        }
      ]
    },
    {
      "contentTypeKey": "8fea9b62-d2ca-47e9-946b-1def40e420ae",
      "key": "086fdfb4-f96b-43f4-87f7-d4a3c503e7bb",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Youtube"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://youtube.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "11fab5a1-5324-4d6a-8449-9352bc14dd92",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5b99d11f-e296-495d-9112-f83f49e3637e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "086fdfb4-f96b-43f4-87f7-d4a3c503e7bb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "11fab5a1-5324-4d6a-8449-9352bc14dd92",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5b99d11f-e296-495d-9112-f83f49e3637e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "086fdfb4-f96b-43f4-87f7-d4a3c503e7bb",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "607e6960-8ab7-4632-9816-13ad1ebc270e",
    "mediaKey": "2bc897de-6f04-489a-8d76-a5c00a5ff8c2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <text>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u00A9 Onatrix. All Rights Reserved. Credits to Themesflat\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </text>
  </Properties>
</Content>