<?xml version="1.0" encoding="utf-8"?>
<Content Key="abec8b04-d4de-4d54-8c9b-7bd3a4fdcabc" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="7c8233b9-ccf7-4c9d-8611-7150c7eb8e1e">Services</Parent>
    <Path>/Onatrix/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-11-15T14:23:16</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8d945fdc-4326-401e-aa51-5c20bcd43465">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </pageTitle>
    <serviceDetailAside>
      <Value><![CDATA[]]></Value>
    </serviceDetailAside>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "bddb1047-cd98-4d18-a545-e17fa5de1b0e",
    "mediaKey": "2a579ff0-82fe-4fa7-b5f9-28fdca130f65",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>