<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a597aab3-36fd-4f82-9ce3-1c25ee24891b" Alias="Contact Page - Sections " Level="1">
  <Info>
    <Name>Contact Page - Sections </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b61867df-7bbd-47f2-84bc-00d2ac2e7a84"
    }
  ]
}]]></Config>
</DataType>