<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c6fc6244-1228-4347-93ed-2124ad5765ab" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a4302e55-01ec-4e4e-80f4-50e7ece5df82"
    },
    {
      "contentElementTypeKey": "1846c976-b2ef-40f5-8900-d7c59740cc3e",
      "settingsElementTypeKey": "53e200ca-3307-493f-8acc-cb69be1afe97"
    },
    {
      "contentElementTypeKey": "c1ce116e-8279-41c5-8e95-f451abe73dd1"
    },
    {
      "contentElementTypeKey": "5c0f57d7-78a9-4b8a-865e-b031b002ba09"
    },
    {
      "contentElementTypeKey": "b61867df-7bbd-47f2-84bc-00d2ac2e7a84"
    },
    {
      "contentElementTypeKey": "15ea715c-08b2-4cdd-80e3-5be1b2b34131"
    },
    {
      "contentElementTypeKey": "ba54b1d0-45e8-4d5c-a009-ffad09b31b5b"
    },
    {
      "contentElementTypeKey": "76b7c88d-1d54-4400-bc95-93d10272be15"
    },
    {
      "contentElementTypeKey": "5e9dedd2-5cf5-4f99-a597-d0dae1560867"
    }
  ]
}]]></Config>
</DataType>