<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49b5940a-059b-4274-aa44-12f77f56baa0" Alias="Service Settings - Service BgColor - Color Picker Property Editor UI" Level="1">
  <Info>
    <Name>Service Settings - Service BgColor - Color Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "ffffff",
      "label": "White"
    },
    {
      "value": "f7f7f7",
      "label": "White-100"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>