<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cd775cff-79d2-426d-a0f3-d85079d48ab0" Alias="Service Detail Aside" Level="1">
  <Info>
    <Name>Service Detail Aside</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b11668fe-1ed3-4fa0-a26c-37ece2c968d3"
    }
  ]
}]]></Config>
</DataType>