<?xml version="1.0" encoding="utf-8"?>
<DataType Key="971450d6-6236-4d4d-8c1b-629f50c45961" Alias="Service Settings - Show Service Label - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>Service Settings - Show Service Label - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>