<?xml version="1.0" encoding="utf-8"?>
<DataType Key="437e3920-3015-4e05-99a8-f45401409ed6" Alias="Site Settings Platform List" Level="1">
  <Info>
    <Name>Site Settings Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8fea9b62-d2ca-47e9-946b-1def40e420ae",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>