<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4e54c434-0c6f-4b99-b905-650b91b17c61" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "64757000-6ebd-4d20-9a9d-978d4fc12ca0",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>