<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="63283b11-84cd-41ad-80ad-8bb2341ee67d" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page </Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="22144286-b83a-441b-ad75-3bd35efc07c4">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ff1bbce6-dff8-45a9-8bae-f7f52d086290" SortOrder="0">contactPage</ContentType>
    <ContentType Key="512d29dc-aa37-495b-b1b9-dd0f201b77f5" SortOrder="1">servicePage</ContentType>
    <ContentType Key="3707d40f-95cb-4ef9-afc8-6045ea330ea2" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9c81c04c-6a1f-4c8b-afd2-44a8692207e9</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>c6fc6244-1228-4347-93ed-2124ad5765ab</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>9ca71bee-e40a-4df4-b352-c1d6716bc67c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>